@import '../../vars.scss';
.system {
}

.bar scale trough {
	all: unset;
	min-height: 2px;
	background-color: #2c3038;
}

.graph {
  margin-bottom: 2px;
  margin-top: 2px;
}

$cpu-color: #bd787f;
$mem-color: #e7cf9e;
$bright-color: #a5bb92;
$bat-color: #a4a1ce;
$vol-color: #9dd1d1;
$network-up-color: #90d4cb;
$network-down-color: #8bd182;
$space-root-color: #b4dedc;
$space-home-color: #d9b7d4;

.cpu_graph .graph {
	color: $cpu-color;
}
.cpu_graph .bar scale trough highlight {
	background-color: $cpu-color;
}
.mem_graph .graph {
	color: $mem-color;
}
.space_root_graph .graph {
	color: $space-root-color;
}
.space_home_graph .graph {
	color: $space-home-color;
}
.mem_graph .bar scale trough highlight {
	background-color: $mem-color;
}
.bat_graph .graph {
	color: $bat-color;
}
.bat_graph .bar scale trough highlight {
	background-color: $bat-color;
}

.graph_number {
	opacity: 0.5;
	font-size: 10px;
}




.vol_bar scale trough {
	all: unset;
	background-color: #3A404C;
	min-height: 6px;
	
  border-radius: 999px;
}

.vol_bar scale trough highlight {
	all: unset;
  border-radius: 999px;
}

.vol_bar scale trough highlight {
	background-color: #9dd1d1;
}

.graphs {
}

.network_up_graph .graph {
	color: $network-up-color;
}
.network_up_graph .bar scale trough highlight {
	background-color: $network-up-color;
}

.network_down_graph .graph {
	color: $network-down-color;
}
.network_down_graph .bar scale trough highlight {
	background-color: $network-down-color;
}

.warn-true {
	background-color: rgba(226, 106, 70, 0.4);
}

.warn-bad-true {
	animation: pulse 500ms ease-in-out infinite;
}



@keyframes pulse {
  0% {
    background-color: rgba(226, 106, 70, 0.1);
  }
  25% {
    background-color: rgba(226, 106, 70, 0.7);
  }
  50% {
    color: rgba(226, 106, 70, 1);
  }
  75% {
		background-color: rgba(226, 106, 70, 0.7);
  }
  100% {
	background-color: rgba(226, 106, 70, 0.1);
  }
}


.metric {
	padding-left: 5px;
	padding-right: 5px;
}

.space_root {
	background-color: $space-root-color;
	color: $base01;
}
.space_home {
	background-color: $space-home-color;
	color: $base01;
}

.checkbox-network-device  {
	color: $nord4;
}
.checkbox-network-device:checked  {
	color: $nord14;
}
.checkbox-network-device check  {
	border: none;
	background-color: transparent;
}

.checkbox-network-device * {
  font-family: "Font Awesome 6 Free";
  font-size: 11px;
}